

<h1 class="mb-4">Registration Form</h1>

<form [formGroup]="registerForm" (ngSubmit)="register()">
  <div class="form-group mb-3">
    <label>First Name</label>
    <input formControlName="first_name" [class.is-invalid]="registerForm.controls.first_name.invalid && registerForm.controls.first_name.touched"  type="text" class="form-control">
    <div *ngIf="registerForm.controls.first_name.invalid && registerForm.controls.first_name.touched" class="alert alert-danger my-2">first name is not valid</div>
  </div>
  <div class="form-group my-3">
    <label>Last Name</label>
    <input formControlName="last_name" type="text" class="form-control">
    <div *ngIf="registerForm.controls.last_name.invalid && registerForm.controls.last_name.touched" class="alert alert-danger my-2">last name is not valid</div>
  </div>
  <div class="form-group my-3">
    <label>Email</label>
    <input formControlName="email" type="email" class="form-control">
    <div *ngIf="registerForm.controls.email.invalid && registerForm.controls.email.touched" class="alert alert-danger my-2">email is not valid</div>
  </div>
  <div class="form-group mt-3">
    <label>Password</label>
    <input formControlName="password" type="password" class="form-control">
    <div *ngIf="registerForm.controls.password.invalid && registerForm.controls.password.touched" class="alert alert-danger my-2">password is not valid</div>
  </div>
  <button type="submit" [disabled]="registerForm.invalid" class="btn btn-primary mt-3">Register</button>
</form>







