

<div class="row">
  <div class="col-md-4">
    <div>
      <div class="brdr w-25"></div>
      <h4>Trending</h4>
      <h4>Movies</h4>
      <h4>to Watch now</h4>
      <span class="span1">most watched movies by days</span>
      <div class="brdr w-100"></div>
    </div>
  </div>
  <div *ngFor="let item of trendingMovies" class="col-md-2 my-3">
    <div>
      <img class="w-100 mb-2" src="https://image.tmdb.org/t/p/original/{{item.poster_path}}" alt="">
      <h5>{{item.title}}</h5>
      <button class="btn btn-primary" routerLink="/details/{{item.media_type}}/{{item.id}}">see more</button> <!-- '/' take the deep link "details/.." only and delete what is before it -->
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div>
      <div class="brdr w-25"></div>
      <h4>Trending</h4>
      <h4>TvShows</h4>
      <h4>to Watch now</h4>
      <span class="span1">most watched movies by days</span>
      <div class="brdr w-100"></div>
    </div>
  </div>
  <div *ngFor="let item of trendingTvShows" class="col-md-2">
    <div>
      <img class="w-100 mb-2" src="https://image.tmdb.org/t/p/original/{{item.poster_path}}" alt="">
      <h5>{{item.name}}</h5>
      <button class="btn btn-primary" routerLink="/details/{{item.media_type}}/{{item.id}}">see more</button> <!-- '/' take the deep link "details/.." only and delete what is before it -->
    </div>
  </div>
</div>

























