


<div class="row">
  <div class="col-md-4">
    <div>
      <div class="brdr w-25"></div>
      <h4>Trending</h4>
      <h4>Movies</h4>
      <h4>to Watch now</h4>
      <span class="span1">most watched movies by days</span>
      <div class="brdr w-100"></div>
    </div>
  </div>
  <div *ngFor="let item of trendingMovies" class="col-md-2">
    <div>
      <!-- <img class="w-100 mb-2" src="https://image.tmdb.org/t/p/original/{{item.poster_path}}" alt=""> -->
      <img class="w-100 mb-2" src="../../assets/images/img6.jpg" alt="">
      <h5>{{item.title}}</h5>
    </div>
  </div>
</div>













